*{ margin: 0; padding: 0; }

body{
	background: white url(/images/bg.png) repeat-x;
	background-size: 100% 100%;
	color: #333;
	font: 14px 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

a{
	color: #06C;
	text-decoration: none;
}
a:hover{ color: #F50; }

p, h1, h2, object{ margin: 10px 0; }

h1, h2{ color: #06C; font-weight: normal; }

h2{ margin-top: 0; }

object{ -webkit-box-shadow: 0 0 20px grey; }

#logo{ margin: 30px 0 20px 0; }

/* BUTTON & GLOW */

.button{
	background: #E3E3E3 -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E3E3E3));
	-moz-border-radius: 100px; -webkit-border-radius: 100px;
	border: 1px solid #CCC;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin-top: 5px;
	padding: 7px 30px 8px 30px;
	position: relative;
	text-decoration: none;
}

.button:hover{
	color: #06C;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3E3E3), to(white));
}

.update{
	font-size: 12px;
	margin: 0;
	padding: 5px 10px;
}

.glow{
	-webkit-animation-name: Pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Pulse {
	from { -webkit-box-shadow: 0 0 15px white; }
	50% { -webkit-box-shadow: 0 0 15px grey; }
	to { -webkit-box-shadow: 0 0 15px white; }
}

/* POPUP */

#facebox {
	background: #fff;
	-webkit-box-shadow: #333 0 0 30px 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
	width: 500px;
}

#facebox .popup { position: relative; }

#facebox .body { padding: 20px; }

textarea{
	font-size: 14px;
	height: 80px;
	resize: none;
	padding: 5px 10px;
	width: 438px;
}

textarea:focus{ outline: 5px auto #E3E3E3; }

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.facebox_hide { z-index: -100; }

.facebox_overlayBG { background-color: #000; z-index: 99; }

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* MISC */

.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }