body{
	
}

.button{
	background-color: #E3E3E3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E3E3E3));
	border: 1px solid #CCC;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-size: 18px;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	text-align: center;
}

.button:hover{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3E3E3), to(white));
}