%div
	%object{:height => SETTINGS["player"]["height"], :width => SETTINGS["player"]["width"]}
		%param{:name => 'bgcolor', :value => '000000'}
		%param{:name => 'movie', :value => "http://player.soundcloud.com/player.swf?url="+SETTINGS["track"]+SETTINGS["player"]["params"]}
		%param{:name => 'allowscriptaccess', :value => 'always'}
		%embed{:allowscriptaccess => 'always', :height => SETTINGS["player"]["height"], :src => "http://player.soundcloud.com/player.swf?url="+SETTINGS["track"]+SETTINGS["player"]["params"], :type => 'application/x-shockwave-flash', :width => SETTINGS["player"]["width"], :bgcolor => '000000'}