%div{:style => "text-align:center"}

	%h1 Logo

	%div [ player goes here ]
	
	%h2 Download "Scars on Broadway"
	
	%p Just click below to tell your Facebook or Twitter friends about Scars on Broadway
		
	%p
		
		- if logged_in("facebook")
			= link_to "Share to Unlock", "#"
		- elsif logged_in("twitter")
			= link_to "Tweet to Unlock", "#"
		-else
			= link_to "Facebook", login_path("facebook")
			= link_to "Twitter", login_path("twitter")


