%div{:style => "text-align:center"}

	%h1 Logo

	%div [ player goes here ]
	
	%h2 Download "Scars on Broadway"
	
	%p Just click below to tell your Facebook or Twitter friends about Scars on Broadway
	
	%p
		= link_to "Facebook", "#"
		= link_to "Twitter", "#"
		
	- if logged_in_facebook?
		logged in facebook
	- else
		false


